body {
  background-color: ivory;
  color: #black;
}


#moomoo {
  display: flex;
  flex-direction: column;
  align-items: center;


  button {
    background-color: #pink;
    box-shadow: 3px 3px rgb(73, 73, 73);
    height: 50px;
    width: 70px;
  }


  button:active {
    transform: translateX(2px);
    transform: translateY(2px);
  }


  pre {
    margin: 1;
    font-size: 4em;
  }
}
